
@{
    ViewData["Title"] = "Access";
}

<style>
    #warp-access {
        margin-left: 10vw;
        width: 80vw;
    }
    .h3 {
        margin: 2rem;
    }
   

    #how-ndis-head{
        margin-top:3rem;
        margin-bottom:3rem;
    }
    #how-ndis-p {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
</style>
<div id="warp-access">
    <h3 id="how-ndis-head">How is NDIS different from other disability benefits?</h3>
    <p id="how-ndis-p">National Disability Insurance Scheme (NDIS) supports a better life for hundreds of thousands of Australians with a significant and permanent disability and their families and carers. The NDIS will mean peace of mind for every Australian - for anyone who has, or might acquire, a disability.</p>
    <hr />
    <div id="access-img">
        <img src="~/images/Access NDIS/NDIS_How_To.png" class="img-fluid" />
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Please call NDIS on:</dt>
        <dd class="col-sm-3">1800 800 110</dd>

    </dl>
    <hr />
  
    <!--The div element for the map -->
</div>

