
@{
    ViewData["Title"] = "Eligbility";
}

<style>
    .eligbility-wrap {
        text-align: initial;
        margin-left: 20vw;
        width: 80vw;
    }
    .eligbility-wrap h4{
        margin:2rem;
        margin-left:0;
    }
</style>
<div class="eligbility-wrap">
    <h2>Check your eligbility to join NDIS</h2>
    <hr />
    <h4>Age</h4>
    <p class="m-auto">
        You must be under 65 years of age when you apply to join the Scheme.
    </p>
    <h4>
        Residency
    </h4>
    <p class="m-aotu">
        To meet the residency requirements, you must live in Australia and:
    </p>
    <p>
        - be an Australian citizen OR
    </p>
    <p>
        - hold a Permanent Visa OR

    </p>
    <p>
        - hold a Protected Special Category Vis

    </p>
    <h4>Disability</h4>
    <p>You may meet the disability requirements if:</p>
    <p>- you have an impairment or condition that is likely to be permanent (i.e. it is likely to be life long) and</p>
    <p>- your impairment substantially reduces your ability to participate effectively in activities</p>
    <p>- your impairment affects your capacity for social and economic participation and</p>
    <p>
        - you are likely to require support under the NDIS for your lifetime.
    </p>
    <a href="https://www.ndis.gov.au/people-disability/access-requirements.html" class="btn"> Find more in NDIS website</a>
</div>