@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/index.css" />


<!-- Landing Page -->

<div id="bg-container" class="d-flex">
    <div id="bg-desc"class="row align-self-center">
        <div class="col-6 mx-">
            <h1 class="mb-auto p-2">benefind. </h1>
            <h3 class="p-2">Your benefits. Your Way.</h3>
        </div>
    </div>
</div>



<div class="descr-container d-flex flex-column">
    <!-- Icons for four categories -->
    <div class="icon-container">
        <div class="text-center">
            <h2> Disability Support Beyound Imagination</h2>
            <p id="NDIS-descr"> benefind helps you find what kinds of support you can recieved from NDIS</p>
        </div>
        <!-- four icons -->
        <div class="row ">
            <div class="icon-col col-lg-3 col-md-3 col-sm-6 col-xm-6">
                <img class="img img-icon" src="~/images/png/008-doctor.png" alt="Category icons" />
                <div class="card-body">
                    <h5> Health</h5>
                </div>
            </div>
            <div class="icon-col col-lg-3 col-md-3 col-sm-6 col-xm-6">
                <img class="img img-icon" src="~/images/png/007-team-1.png" alt="Category icons" />
                <div class="card-body">
                    <h5> Community</h5>
                </div>
            </div>
            <div class="icon-col col-lg-3 col-md-3 col-sm-6 col-xm-6">
                <img class="img img-icon" src="~/images/png/003-startup.png" alt="Category icons" />
                <div class="card-body">
                    <h5> Equipment</h5>
                </div>
            </div>
            <div class="icon-col col-lg-3 col-md-3 col-sm-6 col-xm-6">
                <img class="img img-icon" src="~/images/png/006-book.png" alt="Category icons" />
                <div class="card-body">
                    <h5> Education</h5>
                </div>
            </div>
           
        </div>
    </div>
    

    <!-- Four descriptions for each category-->
    <div class="categ-container">
        <div class="row categ-row">

            <div class="col-sm-6 col-lg-6" id="descr1">
                <div class="text-top">

                </div>
                <h2>A health life</h2>
                <p>Continue visiting your current doctor,or find a new professional to look after your medical need.
                Need more medical service? NDIS will cover it.</p>
            </div>
            <div class="col-sm-6 col-lg-6 " id="img-1">
                <img class="img-fluid" src="~/images/Index-category/rawpixel-577480-unsplash.jpg" alt="" />
            </div>
        </div>
            <div class="row categ-row">
                <div class="col-sm-6 col-lg-6 ">
                    <img class="img-fluid" src="~/images/Index-category/helena-lopes-463976-unsplash.jpg" alt="" />
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="text-top">

                    </div>
                    <h2>Personal Touch</h2>
                    <p>Do you or your family member have difficulty going out for activities due to disability?
                    NDIS will provide the means necessary to help close this gap. Professional assistance to help you
                     shop, transportation service and more. You name it.</p>
                </div>
                </div>
            <div class="row categ-row">

                <div class="col-sm-6 col-lg-6">
                    <div class="text-top">

                    </div>
                    <h2>The tools you need</h2>
                    <p>Do you need tools to help with everyday living? From wheelchairs and shower ramps, to advanced assistive technology 
                    , NDIS will get you the support you deserve.</p>
                </div>
                <div class="col-sm-6 col-lg-6 ">
                    <img class="img-fluid" src="~/images/Index-category/rawpixel-589081-unsplash.jpg" alt="" />
                </div>
            </div>
                    <div class="row categ-row">
                        <div class="col-sm-6 col-lg-6 ">
                            <img class="img-fluid" src="~/images/Index-category/olia-gozha-679130-unsplash.jpg" alt="" />
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="text-top">

                            </div>
                            <h2>Dream come true</h2>
                            <p>Get the job you've always wanted, and build the career you have dreamed about.
                            NDIS will help make your dream come true by giving you that education and training you need to realize your true potential.</p>
                        </div>
                    </div>
                

</div>
</div>



    
@*<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>*@
