@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/index.css" />


<!-- Landing Page -->

<div id="bg-container" class="container">
    <div id="bg-desc"class="row align-self-center">
        <div class="col-6 mx-">
            <h1 class="mb-auto p-2">benefind. </h1>
            <h3 class="p-2">Your benefits. Your Way.</h3>
        </div>
    </div>
</div>



<div class="descr-container">
    <!-- Icons for four categories -->
    <div class="icon-container">
        <div class="text-center">
            <h2> Disability Support Beyound Imagination</h2>
            <p id="NDIS-descr"> benefind helps you find what kinds of support you can recieved from NDIS</p>
        </div>
        <!-- four icons -->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xm-6">
                <img class="img img-icon" src="~/images/smiling-emoticon-square-face.png" alt="Category icons" />
                <div class="card-body">
                    <h5> Health</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xm-6">
                <img class="img img-icon" src="~/images/smiling-emoticon-square-face.png" alt="Category icons" />
                <div class="card-body">
                    <h5> Community</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xm-6">
                <img class="img img-icon" src="~/images/smiling-emoticon-square-face.png" alt="Category icons" />
                <div class="card-body">
                    <h5> Equipment</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xm-6">
                <img class="img img-icon" src="~/images/smiling-emoticon-square-face.png" alt="Category icons" />
                <div class="card-body">
                    <h5> Education</h5>
                </div>
            </div>
           
        </div>
    </div>
    @*<div class="container" id="categories">
        <div class="row-category">
            <div class="col-lg-8">
                <div class="card  text-white">
                    <img class="img-responsive" src="~/images/Community Support.jpeg" alt="Responsive image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card  text-white ">
                    <img class="img-responsive" src="~/images/Community Support.jpeg" alt="Responsive image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card  text-white">
                    <img class="img-responsive" src="~/images/Community Support.jpeg" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card  text-white">
                    <img class="card-img img-responsive" src="~/images/Community Support.jpeg" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
        </div>

    </div>*@

    <!-- Four descriptions for each category-->
    <div class="categ-flex ">
        <div class="row categ-row">

            <div class="col-sm-6 col-lg-6" id="descr1">
                <div class="text-top">

                </div>
                <h2>This is Title</h2>
                <p>This is the description</p>
            </div>
            <div class="col-sm-6 col-lg-6 " id="img-1">
                <img class="img-responsive" src="~/images/Community Support.jpeg" alt="" />
            </div>
        </div>
            <div class="row categ-row">
                <div class="col-sm-6 col-lg-6 ">
                    <img class="img-responsive" src="~/images/Community Support.jpeg" alt="" />
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="text-top">

                    </div>
                    <h2>This is Title</h2>
                    <p>This is the description</p>
                </div>
                </div>
            <div class="row categ-row">

                <div class="col-sm-6 col-lg-6">
                    <div class="text-top">

                    </div>
                    <h2>This is Title</h2>
                    <p>This is the description</p>
                </div>
                <div class="col-sm-6 col-lg-6 ">
                    <img class="img-responsive" src="~/images/Community Support.jpeg" alt="" />
                </div>
            </div>
                    <div class="row categ-row">
                        <div class="col-sm-6 col-lg-6 ">
                            <img class="img-responsive " src="~/images/Community Support.jpeg" alt="" />
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="text-top">

                            </div>
                            <h2>This is Title</h2>
                            <p>This is the description</p>
                        </div>
                    </div>
                

</div>
</div>



    
<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
