/* adjust landing back ground image*/
#bg-container {
    background: url(../images/benefind-landing-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*#landing-bg {
    background-image: url(../images/benefind-landing-bg.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/* justify the size of the container of background image to cover the full screen*/
#bg-container {
    display:flex;
    height: 100vh;
    width: 100vw;
    /* cover the navbar */
    margin-top:-10vh;
  
}
/* justify text description of landing page */
#bg-desc {
    margin-top: 50vh;
    margin-left: 40vw;
    margin-right: 20vw;
    margin-bottom: 50vw;
}

#bg-desc.h1{
    color:white;
}
/* justify layout of four categories*/
#categories {
    display: flex;
    align-content: center;
    justify-content: center;
    width: auto;
}

/* layout for category icons and descreptions */
.icon-container{
    margin-bottom: 10vh;
    padding:30px;
}

.descr-container{
    padding:20px;
}

#NDIS-descr{
    padding:20px;
    margin:20px;
}

.categ-row {
    margin: 20px;
    padding:0px;
    height:80vh;
}

.img-icon{
    height:90px;
}

.categ-flex{
    background: url(../images/debby-hudson-557741-unsplash.jpg) center center fixed;
    background-size:cover;
}
