

    /* adjust landing back ground image*/
    #bg-container {
    background: url(../images/Landing/zoltan-tasi-690184-unsplash.jpg) no-repeat center center ;
    background-size: cover;
}



/* justify the size of the container of background image to cover the full screen*/
#bg-container {
    display:flex;
    height: 88vh;
    width: 100vw;
    /* cover the navbar */
    margin-top:-10vh;
  
}
/* justify text description of landing page */
#bg-desc {
    display: flex;
    margin-left:35.5vw;
    flex-direction: column;
    color: white;
}


/* justify layout of four categories*/
#categories {
    display: flex;
    align-content: center;
    justify-content: center;
    width: auto;
}

/* layout for category icons and descreptions */
.icon-container {
    margin-bottom: 10vh;
    padding: 30px;
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.descr-container {
    /*background: url(../images/Index-bg/ev-232339-unsplash.jpg) center center fixed;*/
    background-size: cover;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100vw;
}

#NDIS-descr{
    padding:20px;
    margin:20px;
}

.categ-row {
    margin: 40px;
    padding:0px;
    height:80vh;
}

.img-icon{
    height:90px;
}

.categ-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.icon-col {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 10vh;
}