/* adjust landing back ground image*/
#bg-container {
    background: url(../images/Index-category/duy-pham-704498-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*#landing-bg {
    background-image: url(../images/benefind-landing-bg.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/* justify the size of the container of background image to cover the full screen*/
#bg-container {
    display:flex;
    height: 100vh;
    width: 100vw;
    /* cover the navbar */
    margin-top:-10vh;
  
}
/* justify text description of landing page */
#bg-desc {
    margin-top: 50vh;
    margin-left: 40vw;
    margin-right: 20vw;
    margin-bottom: 50vh;
}

#bg-desc.h1{
    color:white;
}
/* justify layout of four categories*/
#categories {
    display: flex;
    align-content: center;
    justify-content: center;
    width: auto;
}

/* layout for category icons and descreptions */
.icon-container {
    margin-bottom: 10vh;
    padding: 30px;
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.descr-container {
    background: url(../images/Index-bg/ev-232339-unsplash.jpg) center center fixed;
    background-size: cover;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100vw;
}

#NDIS-descr{
    padding:20px;
    margin:20px;
}

.categ-row {
    margin: 20px;
    padding:0px;
    height:80vh;
}

.img-icon{
    height:90px;
}

.categ-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.icon-col {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 10vh;
}